In [1]:
import pandas as pd

In [2]:
with open("investments_VC.csv", "rb") as file:
    content = file.read()

# Attempt to decode with 'utf-8', ignoring errors
decoded_content = content.decode("utf-8", errors="ignore")

# Use pandas to read the CSV from the decoded content
import io
import pandas as pd
dff= pd.read_csv(io.StringIO(decoded_content))

In [3]:
dff.head()

,permalink,name,homepage_url,category_list,market,funding_total_usd,status,country_code,state_code,region,...,secondary_market,product_crowdfunding,round_A,round_B,round_C,round_D,round_E,round_F,round_G,round_H
0,/organization/waywire,#waywire,http://www.waywire.com,|Entertainment|Politics|Social Media|News|,News,"17,50,000",acquired,USA,NY,New York City,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,/organization/tv-communications,&TV Communications,http://enjoyandtv.com,|Games|,Games,"40,00,000",operating,USA,CA,Los Angeles,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,/organization/rock-your-paper,'Rock' Your Paper,http://www.rockyourpaper.org,|Publishing|Education|,Publishing,"40,000",operating,EST,NaN,Tallinn,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,/organization/in-touch-network,(In)Touch Network,http://www.InTouchNetwork.com,|Electronics|Guides|Coffee|Restaurants|Music|i...,Electronics,"15,00,000",operating,GBR,NaN,London,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,/organization/r-ranch-and-mine,-R- Ranch and Mine,NaN,|Tourism|Entertainment|Games|,Tourism,"60,000",operating,USA,TX,Dallas,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

# DATA CLEANING

## Data Cleaning Summary
### Standardized Column Names – Converted to lowercase, replaced spaces/special characters with underscores for consistency.
### Converted Funding Values – Removed commas/special characters, converted to numeric, and replaced invalid values with NaN.
### Handled Missing Values – Categorical data filled with "Unknown"; numerical data imputed with the median.
### Formatted Date Columns – Converted to datetime format for better analysis; estimated missing dates using available data.
### Derived Missing Date Info – Extracted missing founded_year, founded_month, and founded_quarter from other date fields.
### Optimized Data Types – Converted categorical columns to category type for better memory efficiency.
### Removed Duplicates – Eliminated duplicate records to ensure data accuracy.
### Saved Cleaned Dataset – Stored as ".csv" for further analysis.

In [4]:
# stripping the columns

In [5]:
dff.columns = dff.columns.str.strip()

In [6]:
dff.columns

Index(['permalink', 'name', 'homepage_url', 'category_list', 'market',
       'funding_total_usd', 'status', 'country_code', 'state_code', 'region',
       'city', 'funding_rounds', 'founded_at', 'founded_month',
       'founded_quarter', 'founded_year', 'first_funding_at',
       'last_funding_at', 'seed', 'venture', 'equity_crowdfunding',
       'undisclosed', 'convertible_note', 'debt_financing', 'angel', 'grant',
       'private_equity', 'post_ipo_equity', 'post_ipo_debt',
       'secondary_market', 'product_crowdfunding', 'round_A', 'round_B',
       'round_C', 'round_D', 'round_E', 'round_F', 'round_G', 'round_H'],
      dtype='object')

In [7]:
#Removing  duplicated rows

In [8]:
dff.duplicated().sum()

np.int64(4855)

In [9]:
dff=dff.drop_duplicates()

In [10]:
# Dropping  unwanted  columns permalin and

In [11]:

dff = dff.drop(['permalink', 'homepage_url'], axis=1)

In [12]:
# creating  new  df fot  only  getting data which have name

In [13]:
dff=dff.loc[dff["name"].notna()]

In [14]:
# Dropping  catregory list cause market is also telling the   company direction

In [15]:
dff = dff.drop(["category_list"],axis=1)

In [16]:
##funding in usd  Rerplacing the(, -) convert it to int

In [17]:
def str_to_int(s: str):
    try:
        s = s.replace(',', '')
        if '-' in s:
            s = 0
        return int(s)
    except ValueError:
        return s
    except AttributeError:
        return s
dff['funding_total_usd'] = dff['funding_total_usd'].apply(str_to_int)

In [18]:
# Taking only  those  data  which  have  funding amount

In [19]:
dff = dff[dff['funding_total_usd']!=0]

In [20]:
#Checking for status  replacing   nan with unknown

In [21]:
dff["status"].isnull().sum()

np.int64(1105)

In [22]:
nan_status_data = dff[dff['status'].isna()]
nan_status_data

,name,market,funding_total_usd,status,country_code,state_code,region,city,funding_rounds,founded_at,...,secondary_market,product_crowdfunding,round_A,round_B,round_C,round_D,round_E,round_F,round_G,round_H
5,.Club Domains,Software,7000000,NaN,USA,FL,Ft. Lauderdale,Oakland Park,1.0,2011-10-10,...,0.0,0.0,0.0,7000000.0,0.0,0.0,0.0,0.0,0.0,0.0
67,1C Company,Software,200000000,NaN,RUS,NaN,Moscow,Moscow,1.0,1991-01-01,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
89,1st Merchant Funding,Financial Services,10000000,NaN,USA,FL,Miami,Miami,1.0,2007-01-01,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
433,99 Fahrenheit,Finance,1380700,NaN,ITA,NaN,Milan,Milan,1.0,2011-10-01,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
465,A Bit Lucky,Social Games,10312103,NaN,USA,CA,SF Bay Area,San Mateo,2.0,2009-10-01,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49131,Ziftit,Gift Registries,4000000,NaN,USA,CA,San Diego,San Diego,1.0,2011-02-01,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
49175,Zingaya,Messaging,1150000,NaN,USA,CA,SF Bay Area,Palo Alto,1.0,2010-06-01,...,0.0,0.0,1150000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
49248,Zocere,Biotechnology,100000,NaN,NaN,NaN,NaN,NaN,1.0,2012-01-01,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
49289,Zookal,E-Commerce,2060000,NaN,AUS,NaN,Sydney,Sydney,3.0,2011-03-01,...,0.0,0.0,1800000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
49412,Zygo Corporation,Manufacturing,9000000,NaN,USA,CT,CT - Other,Middlefield,1.0,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [23]:
# Status done

In [24]:
# Use .loc[] to avoid the warning
dff.loc[:, 'status'] = dff['status'].fillna('Unknown')

In [25]:
print(dff['status'].isna().sum())

0

In [26]:
dff.columns

Index(['name', 'market', 'funding_total_usd', 'status', 'country_code',
       'state_code', 'region', 'city', 'funding_rounds', 'founded_at',
       'founded_month', 'founded_quarter', 'founded_year', 'first_funding_at',
       'last_funding_at', 'seed', 'venture', 'equity_crowdfunding',
       'undisclosed', 'convertible_note', 'debt_financing', 'angel', 'grant',
       'private_equity', 'post_ipo_equity', 'post_ipo_debt',
       'secondary_market', 'product_crowdfunding', 'round_A', 'round_B',
       'round_C', 'round_D', 'round_E', 'round_F', 'round_G', 'round_H'],
      dtype='object')

In [27]:
# company founded columns

In [28]:
#  dff.drop(['founded_month', 'founded_quarter', 'founded_year'], axis=1, inplace=True)
#  Cause i  feel  only  year and  mnonth  is enough to  show the trends\
dff.loc[:, ['founded_month', 'founded_quarter', 'founded_year']] = None

C:\Users\SAGA\AppData\Local\Temp\ipykernel_16180\412048661.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'None' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  dff.loc[:, ['founded_month', 'founded_quarter', 'founded_year']] = None

In [29]:
dff.drop(['founded_month', 'founded_quarter', 'founded_year'], axis=1, inplace=True)

In [30]:
dff['founded_at'] = pd.to_datetime(dff['founded_at'], errors='coerce')

In [31]:
dff['founded_month'] = dff['founded_at'].dt.month

In [32]:
dff['founded_year'] = dff['founded_at'].dt.year

In [33]:
dff['founded_year'].isnull().sum() ##  there are null  and we can not  imputea s there atre 29%  of null valuew  so  its better to  keep  it  unknown

np.int64(8707)

In [34]:
#dff['founded_year'].fillna("0") 
dff['founded_year']

0        2012.0
1           NaN
2        2012.0
3        2011.0
4        2014.0
          ...
49433    2013.0
49434       NaN
49435    2012.0
49436       NaN
49437    1999.0
Name: founded_year, Length: 40906, dtype: float64

In [35]:
dff['founded_year']=dff["funding_rounds"].isnull().sum() # clear

In [36]:
dff["founded_at"].isnull().sum()

np.int64(8707)

In [37]:
# Checking for othere  columns

In [38]:

dff["first_funding_at"].isnull().sum()

np.int64(0)

In [39]:
#dff['first_funding_at']=dff['first_funding_at'].astype(int)

In [40]:
# WE  vchange the  first funded at and last funded at  in datae time   stsype as there no  mising  values   and string  we acn   extract  month year while eda

In [41]:
dff[["first_funding_at", "last_funding_at"]] = dff[["first_funding_at", "last_funding_at"]].apply(pd.to_datetime, errors='coerce')

In [42]:
dff["first_funding_at"].dtype

dtype('<M8[ns]')

In [43]:
dff["seed"].isnull().sum()

np.int64(0)

In [44]:
dff["funding_total_usd"].isnull().sum()

np.int64(0)

In [45]:
funding_cols = ["funding_total_usd", "seed", "venture", "equity_crowdfunding", "undisclosed", 
                "convertible_note", "debt_financing", "angel", "grant", "private_equity", 
                "post_ipo_equity", "post_ipo_debt", "secondary_market", "product_crowdfunding"]

for col in funding_cols:
    print(f"Missing values in '{col}':", dff[col].isnull().sum())

Missing values in 'funding_total_usd': 0
Missing values in 'seed': 0
Missing values in 'venture': 0
Missing values in 'equity_crowdfunding': 0
Missing values in 'undisclosed': 0
Missing values in 'convertible_note': 0
Missing values in 'debt_financing': 0
Missing values in 'angel': 0
Missing values in 'grant': 0
Missing values in 'private_equity': 0
Missing values in 'post_ipo_equity': 0
Missing values in 'post_ipo_debt': 0
Missing values in 'secondary_market': 0
Missing values in 'product_crowdfunding': 0

In [46]:
dff["round_A"].isnull().sum()

np.int64(0)

In [47]:
dff["round_A"].unique()

array([      0., 2000000., 4000000., ..., 7991547., 2686600., 1587301.],
      shape=(2035,))

In [48]:
dff["round_B"].isnull().sum()

np.int64(0)

In [49]:
funding_cols = ["round_C", "round_D", "round_E", "round_F", "round_G", "round_H"]
for col in funding_cols:
    print(f"Missing values in '{col}':", dff[col].isnull().sum())

Missing values in 'round_C': 0
Missing values in 'round_D': 0
Missing values in 'round_E': 0
Missing values in 'round_F': 0
Missing values in 'round_G': 0
Missing values in 'round_H': 0

In [50]:
dff["funding_total_usd"].isnull().sum()

np.int64(0)

In [51]:
## rest  else columns are  good  to go as  there are  no nan values

In [52]:
dff.info()

<class 'pandas.core.frame.DataFrame'>
Index: 40906 entries, 0 to 49437
Data columns (total 35 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   name                  40906 non-null  object
 1   market                38398 non-null  object
 2   funding_total_usd     40906 non-null  int64
 3   status                40906 non-null  object
 4   country_code          37088 non-null  object
 5   state_code            25619 non-null  object
 6   region                37088 non-null  object
 7   city                  36402 non-null  object
 8   funding_rounds        40906 non-null  float64
 9   founded_at            32199 non-null  datetime64[ns]
 10  first_funding_at      40904 non-null  datetime64[ns]
 11  last_funding_at       40906 non-null  datetime64[ns]
 12  seed                  40906 non-null  float64
 13  venture               40906 non-null  float64
 14  equity_crowdfunding   40906 non-null  float64
 15  undisclosed           40906 non-null  float64
 16  convertible_note      40906 non-null  float64
 17  debt_financing        40906 non-null  float64
 18  angel                 40906 non-null  float64
 19  grant                 40906 non-null  float64
 20  private_equity        40906 non-null  float64
 21  post_ipo_equity       40906 non-null  float64
 22  post_ipo_debt         40906 non-null  float64
 23  secondary_market      40906 non-null  float64
 24  product_crowdfunding  40906 non-null  float64
 25  round_A               40906 non-null  float64
 26  round_B               40906 non-null  float64
 27  round_C               40906 non-null  float64
 28  round_D               40906 non-null  float64
 29  round_E               40906 non-null  float64
 30  round_F               40906 non-null  float64
 31  round_G               40906 non-null  float64
 32  round_H               40906 non-null  float64
 33  founded_month         32199 non-null  float64
 34  founded_year          40906 non-null  int64
dtypes: datetime64[ns](3), float64(23), int64(2), object(7)
memory usage: 11.2+ MB

In [53]:
dff.fillna({
    "country_code": "Unknown",
    "state_code": "Unknown",
    "city": "Unknown",
    "region" : "Unknown"
}, inplace=True)

In [54]:
dff

,name,market,funding_total_usd,status,country_code,state_code,region,city,funding_rounds,founded_at,...,round_A,round_B,round_C,round_D,round_E,round_F,round_G,round_H,founded_month,founded_year
0,#waywire,News,1750000,acquired,USA,NY,New York City,New York,1.0,2012-06-01,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6.0,0
1,&TV Communications,Games,4000000,operating,USA,CA,Los Angeles,Los Angeles,2.0,NaT,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0
2,'Rock' Your Paper,Publishing,40000,operating,EST,Unknown,Tallinn,Tallinn,1.0,2012-10-26,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,10.0,0
3,(In)Touch Network,Electronics,1500000,operating,GBR,Unknown,London,London,1.0,2011-04-01,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0
4,-R- Ranch and Mine,Tourism,60000,operating,USA,TX,Dallas,Fort Worth,2.0,2014-01-01,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49433,Zzish,Education,320000,operating,GBR,Unknown,London,London,1.0,2013-01-28,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0
49434,ZZNode Science and Technology,Enterprise Software,1587301,operating,CHN,Unknown,Beijing,Beijing,1.0,NaT,...,1587301.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0
49435,Zzzzapp Wireless ltd.,Web Development,97398,operating,HRV,Unknown,Split,Split,5.0,2012-05-13,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,0
49436,[a]list games,Games,9300000,operating,Unknown,Unknown,Unknown,Unknown,1.0,NaT,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0
49437,[x+1],Enterprise Software,45000000,operating,USA,NY,New York City,New York,4.0,1999-01-01,...,16000000.0,10000000.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0

In [55]:
dff["founded_month"] = dff["founded_month"].round(0)

In [56]:
dff["founded_month"] = dff["founded_month"].fillna(0).astype(int)

In [57]:
dff["founded_month"].dtype

dtype('int64')

# NOTE:
##  for  founded year  and Fiunded columns  there are  nan   values we  cant impute then  
##  For   first funded and last funded   we can  extract   year  month  as needed in EDA

In [70]:
# dff.to_csv("Startup_clean_file1.csv",index=False)

In [ ]:
dff = dff.dropna(subset=["first_funding_at"])

In [ ]:
dff["first_funding_at"].isnull().sum()

In [59]:
df2=pd.read_csv("Startup_clean_file.csv")

In [60]:
df2

,name,market,funding_total_usd,status,country_code,state_code,region,city,funding_rounds,founded_at,...,round_A,round_B,round_C,round_D,round_E,round_F,round_G,round_H,founded_month,founded_year
0,#waywire,News,1750000,acquired,USA,NY,New York City,New York,1.0,2012-06-01,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6.0,0
1,&TV Communications,Games,4000000,operating,USA,CA,Los Angeles,Los Angeles,2.0,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0
2,'Rock' Your Paper,Publishing,40000,operating,EST,NaN,Tallinn,Tallinn,1.0,2012-10-26,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,10.0,0
3,(In)Touch Network,Electronics,1500000,operating,GBR,NaN,London,London,1.0,2011-04-01,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0
4,-R- Ranch and Mine,Tourism,60000,operating,USA,TX,Dallas,Fort Worth,2.0,2014-01-01,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40901,Zzish,Education,320000,operating,GBR,NaN,London,London,1.0,2013-01-28,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0
40902,ZZNode Science and Technology,Enterprise Software,1587301,operating,CHN,NaN,Beijing,Beijing,1.0,NaN,...,1587301.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0
40903,Zzzzapp Wireless ltd.,Web Development,97398,operating,HRV,NaN,Split,Split,5.0,2012-05-13,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,0
40904,[a]list games,Games,9300000,operating,NaN,NaN,NaN,NaN,1.0,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0
40905,[x+1],Enterprise Software,45000000,operating,USA,NY,New York City,New York,4.0,1999-01-01,...,16000000.0,10000000.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0

In [62]:
df2["first_funding_at"].isnull().sum()

np.int64(2)

In [65]:
df2["first_funding_at"]=df2["first_funding_at"].dropna()

In [66]:
df2["first_funding_at"].isnull().sum()

np.int64(2)

In [68]:
df2.fillna({
    "country_code": "Unknown",
    "state_code": "Unknown",
    "city": "Unknown",
    "region" : "Unknown"
}, inplace=True)

In [69]:
df2["first_funding_at"].isnull().sum()

np.int64(2)

In [74]:
df2["region"].isnull().sum()

np.int64(0)

In [77]:
df2["first_funding_at"] = df2["first_funding_at"].dropna()

In [79]:
df2 = df2.dropna(subset=["first_funding_at"])

In [80]:
df2["first_funding_at"].isnull().sum()

np.int64(0)

In [81]:
df2["founded_at"]

0        2012-06-01
1               NaN
2        2012-10-26
3        2011-04-01
4        2014-01-01
            ...
40901    2013-01-28
40902           NaN
40903    2012-05-13
40904           NaN
40905    1999-01-01
Name: founded_at, Length: 40904, dtype: object

In [82]:
df2 = df2.drop(columns=["founded_month", "founded_year"])

In [83]:
df2.columns

Index(['name', 'market', 'funding_total_usd', 'status', 'country_code',
       'state_code', 'region', 'city', 'funding_rounds', 'founded_at',
       'first_funding_at', 'last_funding_at', 'seed', 'venture',
       'equity_crowdfunding', 'undisclosed', 'convertible_note',
       'debt_financing', 'angel', 'grant', 'private_equity', 'post_ipo_equity',
       'post_ipo_debt', 'secondary_market', 'product_crowdfunding', 'round_A',
       'round_B', 'round_C', 'round_D', 'round_E', 'round_F', 'round_G',
       'round_H'],
      dtype='object')

In [84]:
df2["founded_at"] = pd.to_datetime(df2["founded_at"], errors="coerce")  # Convert to datetime
df2["founded_year"] = df2["founded_at"].dt.year  # Extract year

In [85]:
df2["founded_year"]

0        2012.0
1           NaN
2        2012.0
3        2011.0
4        2014.0
          ...
40901    2013.0
40902       NaN
40903    2012.0
40904       NaN
40905    1999.0
Name: founded_year, Length: 40904, dtype: float64

In [86]:
df2["founded_year"] = df2["founded_year"].astype("Int64")  # Int64 allows NaN values

In [87]:
df2["founded_year"]

0        2012
1        <NA>
2        2012
3        2011
4        2014
         ...
40901    2013
40902    <NA>
40903    2012
40904    <NA>
40905    1999
Name: founded_year, Length: 40904, dtype: Int64

# Does "first_funding_at" Relate to "founded_year"?
# ✅ In many cases, yes:

# A company is usually founded first and then seeks funding.
# If "founded_year" is missing but "first_funding_at" is available, we can assume the company was founded on or before that date.
# Example: If "first_funding_at" = 2015-06-01", then "founded_year" is likely 2015 or earlier.
# ❌ But not always:

# Some companies get funding before officially being incorporated (e.g., in stealth mode).
# Some startups operate for years before receiving funding (so "first_funding_at" could be much later).

In [89]:
# Create a new column and fill NaN values with the year from 'first_funding_at'
# Convert 'first_funding_at' to datetime if it is not already
df2["first_funding_at"] = pd.to_datetime(df2["first_funding_at"], errors='coerce')

# Create a new column and fill NaN values with the year from 'first_funding_at'
df2["found_year_by_firstfunded"] = df2["founded_year"].fillna(df2["first_funding_at"].dt.year)

In [90]:
df2["found_year_by_firstfunded"].dtype

Int64Dtype()

In [91]:
df2["found_year_by_firstfunded"]

0        2012
1        2010
2        2012
3        2011
4        2014
         ...
40901    2013
40902    2012
40903    2012
40904    2011
40905    1999
Name: found_year_by_firstfunded, Length: 40904, dtype: Int64

In [92]:
df2["found_year_by_firstfunded"].isnull().sum()

np.int64(0)

In [93]:
# Convert 'first_funding_at' and 'last_funding_at' to datetime
df2["first_funding_at"] = pd.to_datetime(df2["first_funding_at"], errors='coerce')
df2["last_funding_at"] = pd.to_datetime(df2["last_funding_at"], errors='coerce')

# Extract the year from 'first_funding_at' and 'last_funding_at'
df2["first_funding_year"] = df2["first_funding_at"].dt.year
df2["last_funding_year"] = df2["last_funding_at"].dt.year

In [94]:
df2["first_funding_year"]

0        2012
1        2010
2        2012
3        2011
4        2014
         ...
40901    2014
40902    2012
40903    2011
40904    2011
40905    2008
Name: first_funding_year, Length: 40904, dtype: int32

In [95]:
df2["last_funding_year"]

0        2012
1        2010
2        2012
3        2011
4        2014
         ...
40901    2014
40902    2012
40903    2014
40904    2011
40905    2013
Name: last_funding_year, Length: 40904, dtype: int32

In [98]:
df2.to_csv("Exported_Startup_Filelatest.csv", index=False)